<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Boring Parents</h1>

        <form action="{{ url_for('boring') }}" method=post>
          <div class="form-group">
            <label>Boring stuff that parents say</label>
            <textarea rows="3" name="boringstuff" class="form-control">{{ boringStuff }}</textarea>
          </div>
          <div class="form-group">
            <label>Number of sentences to summarize</label>
            <input type="number" name="sentences" value ="{{ sentencesCount }}" class="form-control" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if sentences %}
        <h2>Results:</h2>
        <ol>
            {% for sentence in sentences %}
            <li>{{ sentence }}</li>
            {% endfor %}
        </ol>
        {% endif %}
    </div>
</body>
</html>